
/* Code By Webdevtrick ( https://webdevtrick.com ) */
body {
    background: #212121;
}
.timeClass {
    color: #ff4747;
    font-size: 80px;
    font-family:'digital-clock-font';
    letter-spacing: 7px;
}


.dateClass {
    color: #ff4747;
    font-size: 80px;
    font-family:'digital-clock-font';
    letter-spacing: 7px;
}

.content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@font-face{
    font-family:'digital-clock-font';
    src: url('DigitalDismay.otf');
    font-weight: normal;
   }